* {
    box-sizing: border-box;
}

/* ---------------- C O L O R S ------------------------------ */
:root {
    --white: white;
    --background: black;
    --background-soft: rgb(20, 20, 20);
    /* theme color black, multiple shades */
    --shade-0: black;
    --shade-1: rgb(10, 10, 10);
    --shade-2: rgb(20, 20, 20);
    --shade-3: rgb(40, 40, 40);
    --shade-4: rgb(80, 80, 80);
    --attack-red: red;
    --defend-blue: blue;
}
/* ----------- containers --------------- */
html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

/* ----------------------- setup of layout and column design ----------*/
.col-1 {
    width: 10%;
}
.col-2 {
    width: 20%;
}
.col-3 {
    width: 30%;
}
.col-4 {
    width: 40%;
}
.col-5 {
    width: 50%;
}
.col-6 {
    width: 60%;
}
.col-7 {
    width: 70%;
}
.col-8 {
    width: 80%;
}
.col-9 {
    width: 90%;
}
.col-10 {
    width: 100%;
}
[class*="col-"] {
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
}

.row-1 {
    height: 18%;
}
.row-2 {
    height: 18%;
}
.row-3 {
    height: 10%;
}
.row-4 {
    height: 08%;
}
.row-5 {
    height: 10%;
}
.row-6 {
    height: 18%;
}
.row-7 {
    height: 18%;
}
[class*="row-"] {
    text-align: center;
}
[class*="row-"]::after {
    /* prevent faults in floating boxes */
    content: "";
    clear: both;
    display: table;
}

#game-area {
    /* outer div to contain layout */
    background-color: var(--background-soft);
    padding: 10px 10px;
    width: 100%;
    min-width: 390px;
    height: 100%;
    min-height: 400px;
}
@media only screen and (min-width: 670px) {
    /* fix width and center horizontally for larger screens */
    #game-area {
        width: 670px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-height: 920px) {
    /* max height */
    #game-area {
        height: 920px;s
    }
}
/* make the vertical aligns work */
.play-button::before,
[class*="col-"]::before {
    /*the inner element needs to be inline(block)*/
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
/* dimensioning of icons */
.play-button {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: 25%;
    margin: 0 3%;
    border-radius: 2mm;
    border: 1mm solid var(--attack-red);
    background-color: var(--shade-3);
}
.button-dice {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    height: auto;
    margin: 10% 1%;
}
.unit-lost,
.dice {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    margin: 0 1%;
}

.lost_units {
    display: inline;
}
.lost_units p,
.lost_units img {
    display: inline-block;
    vertical-align: middle;
}
p.lost_units {
    font-size: 14pt;
    font-weight: bold;
    vertical-align: middle;
}
.lost_units img {
    height: 60%;
    width: auto;
}
/*----------------------------------------Styling --------------------*/
.MenuButton {
    background-color: var(--shade-4);
    border: 3px solid var(--background);
    border-radius: 25px;
    display: inline-block;
    height: 50px;
    line-height: 45px;
    width: 140px;
}
input {
    display: inline-block;
    width: 50%;
    text-align: left;
}
.align-right {
    text-align: right;
}

/* html markup classes */
.centeralign {
    text-align: center;
}


/* utilities */
svg {
    pointer-events: none;
}